[submodule "guacamoley-frontend"]
	path = guacamoley-frontend
	url = https://github.com/pseudowasabi/guacamoley-frontend.git
[submodule "guacamoley-backend"]
	path = guacamoley-backend
	url = https://github.com/pseudowasabi/guacamoley-backend.git
[submodule "guacamoley-docs"]
	path = guacamoley-docs
	url = https://github.com/pseudowasabi/guacamoley-docs.git
